/* styles.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #4CAF50;
  color: white;
  padding: 1em;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 1em;
}

nav ul li a {
  text-decoration: none;
  color: white;
  background-color: #45a049;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: #3e8e41;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em 0;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer ul li {
  display: inline;
  margin: 0 0.5em;
}

.intro {
  text-align: center;
  padding: 2em 1em;
  background-color: #f9f9f9;
}

.intro h2 {
  margin-top: 0;
}

.scenic-photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  padding: 2em 1em;
  background-color: #f0f0f0;
}

.scenic-photos .photo {
  flex: 1 1 calc(33% - 2em);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 1em;
  padding: 1em;
  background-color: white;
  border-radius: 8px;
  text-align: center;
}

.scenic-photos img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.contact-form {
  max-width: 600px;
  margin: 2em auto;
  padding: 2em;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  background-color: #f9f9f9;
  border-radius: 8px;
}

.contact-form h2 {
  text-align: center;
  margin-bottom: 1em;
}

.contact-form label {
  display: block;
  margin-top: 1em;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.5em;
  margin-top: 0.5em;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.contact-form button {
  display: block;
  width: 100%;
  padding: 0.75em;
  margin-top: 1.5em;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #45a049;
}

.regions {
  padding: 2em;
}

.regions h2 {
  text-align: center;
  margin-bottom: 1em;
}

.regions-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.regions article {
  flex: 1 1 calc(30% - 2em);
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin: 1em;
  padding: 1em;
  background-color: #f9f9f9;
  text-align: center;
  border-radius: 8px;
}

.image-window {
  width: 100%;
  max-width: 300px; /* Restrict the width */
  height: 200px; /* Fixed height for the window */
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
}

.image-window img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the window area */
}

.regions h3 {
  margin-top: 0;
}

@media (max-width: 768px) {
  .regions article {
    flex: 1 1 calc(45% - 2em);
  }
}

@media (max-width: 480px) {
  .regions article {
    flex: 1 1 calc(100% - 2em);
  }
}

.destinations {
  max-width: 800px;
  margin: 2em auto;
  padding: 1em;
}

.destinations h2 {
  text-align: center;
  margin-bottom: 1em;
}

.destinations label {
  display: block;
  margin-bottom: 0.5em;
  text-align: center;
}

.destinations select {
  display: block;
  margin: 0 auto 1em auto;
  padding: 0.5em;
  border-radius: 4px;
  border: 1px solid #ccc;
}

#destinations-list {
  list-style: none;
  padding: 0;
}

#destinations-list li {
  background: #f9f9f9;
  margin: 1em 0;
  padding: 1em;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#destinations-list h3 {
  margin-top: 0;
}

#destinations-list p {
  margin: 0.5em 0;
}

.content-section {
  max-width: 800px;
  margin: 2em auto;
  padding: 1em;
}

.content-section img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 1em 0;
  border-radius: 8px;
}

.weather-section {
  background-color: #f0f0f0;
  padding: 1em;
  border-radius: 8px;
  margin-top: 1em;
}

.weather-section h3 {
  margin-top: 0;
}
